
#myRotary{
	color:orange;
	border-color:#EFCF20;
}
.blue{
	background-color:#2C59C3;
}
Rotary .blue{
	border-color:#5F8FFF;
}
Rotary{
	color:#9BF;
}

Toggle, Bang, Press, Dropdown {
    border-color:red;
	color:#fff;
	background-color:#c37cab;
}

Dropdown {
	color:#000;
	background-color:#fdfafc;
}

Segment{
	color:#fff;
	background-color:#883f70;
}



RadioGroup, Text{
	border-color:#f1e0eb;
	color:#000;
	background-color:#883f70;
}
Value {
	color:#fff;
	background-color:#a34b86;
}

RangeValue, Vector2D, Range2D, Vector3D, Vector4D {
	color:#A77;
	background-color:#b6609a;
}