.Columns{
	background-color:#3d405b;
}
Rotary, Vector2D, Slider2D, TextField{
	background-color:#81b29a;
	color:#f4f1de;
}
Rotary:nth-child(3), .border{
	border-color:#171822;
}
#myRotary{
	font-size:15pt;
	background-color:#E07A5F;
	color:#F2CC8F;
}
#myRotary:hover{
	font-size:25px;
}
TextField{
	text-align:center;
	vertical-align:middle; 
	font-size:18px;
	color:#3d405b;
}
TextField:nth-last-child(2){
	text-align:left;
	vertical-align:top;
}
TextField:last-child{
	color:#f4f1de;
	font-size:26px;
	text-align:right;
	vertical-align:bottom;
}
Rotary:hover, Vector2D:hover, Slider2D:hover, TextField:hover{
	background-color:#E07A5F;
	font-size:15px;
	color:#F2CC8F;
}
