.Columns{
	background-color:#3d405b;
}
Rotary, Vector2D, Slider2D, TextField{
	background-color:#81b29a;
	color:#f4f1de;
}
Rotary:nth-child(1), .border{
	border-color:#171822;
}
#myRotary{
	background-color:#E07A5F;
	color:#F2CC8F;
	font-size:20px;
}
#myRotary:hover{
	font-size:25px;
}
TextField{
	text-align:center;
	vertical-align:middle; 
	font-size:20px;
	color:#3d405b;
}
TextField:last-child{
	color:#f4f1de;
	font-size:26px;
}
Rotary:hover, Vector2D:hover, Slider2D:hover, TextField:hover{
	background-color:#E07A5F;
	font-size:17px;
	color:#F2CC8F;
}
